@charset "UTF-8";
/* Font-Family*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
/*Final de Font*/
* {
  padding: 0;
  margin: 0;
  bottom: 0;
}

body {
  background-color: whitesmoke;
  opacity: 0;
  animation: fadeIn 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
nav {
  background-color: rgb(221, 221, 221);
}
nav li a {
  color: rgb(0, 0, 0) !important;
  font-size: large;
  font-family: "Raleway", sans-serif !important;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: xx-large;
}

p {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  padding: 0.5em;
  margin: 0.5em;
  font-size: x-large;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: x-large;
  font-style: oblique;
  text-align: center;
  margin: 2rem;
}

/* Inicio */
#Inicio-de-pagina {
  max-width: 100%;
}

.grid-container-i {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* Espacio entre las columnas */
}

.Inicio-contenedor1 {
  border: 1px solid #303030;
  padding: 10px;
  text-align: center;
}
.Inicio-contenedor1 img {
  max-width: 100%;
  height: auto;
}
.Inicio-contenedor1 figcaption {
  margin: 10px 0;
  font-weight: bold;
}

/*Promociones-Inicio*/
#promo-inicio {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

#carouselExampleCaptions {
  max-width: 50vw;
  margin: 2rem;
  max-height: 60vh !important;
  justify-content: center;
}

/* Galeria*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.contenedor-galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  max-width: 100% !important;
}
.contenedor-galeria figure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 4rem;
  width: 40vw;
}

/*Promociones*/
.article-promo figure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
  margin: 2rem;
  width: 40vw;
}

.contenedor-promo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Contacto */
.formulario {
  margin: 0 auto;
  max-width: 60%;
}

.section-redes {
  display: flex;
  justify-content: center;
}
.section-redes div {
  width: 50px;
  height: 50px;
  margin: 1rem;
}

/*Nosotros*/
.section-nosotros-1 {
  text-align: center;
}
.section-nosotros-1 p {
  font-size: medium;
  text-align: center;
  text-wrap: 100;
}
.section-nosotros-1 h2 {
  text-align: center;
}

footer {
  background-color: rgba(0, 0, 0, 0);
  font-family: "Times New Roman";
  font-style: oblique;
  text-align: center;
  color: rgb(0, 0, 0);
}
footer p {
  font-size: large;
}

/* TABLET */
@media (max-width: 720px) {
  /*Inicio*/
  .grid-container-i {
    grid-template-columns: repeat(2, 1fr);
    /* Espacio entre las columnas */
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
  /* Contacto */
  .formulario {
    margin: 0 20px;
    max-width: 80%;
    margin: auto;
    /* Agrega una animación de transición */
    transition: all 0.3s ease-in-out;
  }
  .section-redes {
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-in-out;
  }
  .section-redes div {
    width: 40px;
    height: 40px;
    margin: 1.5rem;
    transition: all 0.3s ease-in-out;
  }
  .grid-galeria {
    grid-template-columns: 1fr;
    /* Cambia a una sola columna */
  }
  .contenedor-galeria {
    max-width: 100% !important;
    justify-content: center;
  }
  .contenedor-galeria figure {
    margin: 1rem;
    padding: 1rem;
    width: 100% !important;
  }
  /*Nosotros*/
  .section-nosotros-1 {
    text-align: center;
  }
  .section-nosotros-1 p {
    font-size: medium;
    text-align: center;
    text-wrap: 100;
  }
  .section-nosotros-1 h2 {
    text-align: center;
  }
}
@media (max-width: 420px) {
  /*Inicio*/
  .grid-container-i {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .Inicio-contenedor1 {
    display: flex;
    flex-direction: column;
  }
  #carouselExampleCaptions {
    max-width: 100%;
    height: auto !important;
  }
  #img-inicio-promo {
    width: 100vw;
    height: 40vh;
  }
  /*Galeria*/
  .grid-galeria {
    grid-template-columns: 1fr;
    /* Cambia a una sola columna */
  }
  .contenedor-galeria {
    justify-content: center;
    margin: 0.5rem;
  }
  .contenedor-galeria figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  .contenedor-galeria figure img {
    width: auto;
  }
  .section-redes {
    display: flex;
    justify-content: center;
  }
  .section-redes div {
    width: 30px;
    height: 30px;
    margin: 1rem;
  }
  /*Nosotros*/
  .section-nosotros-1 {
    text-align: center;
  }
  .section-nosotros-1 p {
    font-size: medium;
    text-align: center;
    text-wrap: 100;
  }
  .section-nosotros-1 h2 {
    text-align: center;
  }
  footer p {
    font-size: medium;
  }
}

/*# sourceMappingURL=main.css.map */
