*{
    padding: 0;
    margin: 0;
    bottom: 0;
}

/* Font-Family*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
/*Final de Font*/

/*
font-family: 'Raleway', sans-serif;
*/


body{
background-color: whitesmoke;
}

nav{
    background-color: rgb(221, 221, 221);
}


nav li a { 
    color: rgb(0, 0, 0) !important;
    font-size: large;
    font-family: 'Raleway', sans-serif !important;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
}



p {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    padding: 0.5em;
    margin: 0.5em;
    font-size: x-large;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    font-style: oblique;
    text-align: center;
    margin: 2rem;

}


footer{
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Times New Roman';
    font-style: oblique;
    text-align: center;
    color: rgb(0, 0, 0);

}

/* MOVIL */

@media (max-width: 320px){

/*Inicio*/
.Inicio-contenedor1{
    display: flex;
    flex-direction: column;
}

.grid-container {
    grid-template-columns: 1fr; 
    gap: 10px; 

#carouselExampleCaptions{
    max-width: 100%;
    height: auto     !important;
    
}

#img-inicio-promo{
    width: 100vw;
    height: 40vh;
}

/*Galeria*/

.grid-galeria {
    grid-template-columns: 1fr; /* Cambia a una sola columna */
}

.contenedor-galeria {
    margin: 0.5rem;
    max-width: 100%;
}

.contenedor-galeria figure {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    margin-bottom: 2vh;
    max-width: 100%;
}


}

/* TABLET */
@media (max-width:720px) {

/*Inicio*/

.grid-container {
    grid-template-columns: 1fr; 
}

/* Galeria*/
.grid-container {
    grid-template-columns: 1fr;
}

/* Estilo para los elementos de la galería */
.contenedor-galeria {
    background-color: #f9f9f9;
    max-width: 90% !important;
}

.contenedor-galeria figure {
    padding: 2rem;
    margin: 2rem;
    width: 70vw !important;
}

}


/* Desktop */
}
@media (min-width: 1024px) {

/* Inicio */

#Inicio-de-pagina{
max-width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; /* Espacio entre las columnas */
}

.Inicio-contenedor1 {
    border: 1px solid #303030;
    padding: 10px;
    text-align: center; 
}

.Inicio-contenedor1 img {
    max-width: 100%; 
    height: auto; 
}

.Inicio-contenedor1 figcaption {
    margin: 10px 0; 
    font-weight: bold; 
}


/*Promociones-Inicio*/

#promo-inicio{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

#carouselExampleCaptions{
    max-width: 50vw;
    margin: 2rem;
    max-height: 60vh !important;
    justify-content: center;
    
}


/* Galeria*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.contenedor-galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    background-color: #f9f9f9;
    max-width: 100%;
}

.contenedor-galeria figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 2rem;
    width: 40vw;
}

/*Promociones*/

.article-promo,figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 2rem;
    width: 40vw;}
}

.contenedor-promo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}